@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Black.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Light.woff2);
    font-weight: 200;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white: #ffffff;
    --color-blue: #006690;
    --color-yellow: #E9D985;
    --color-dark: #222E50;
}

header{
    display: grid;
    background-color: var(--color-dark);
    padding: 2vw;
    column-gap: 17px;
}

header nav ul{
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 20px;
    list-style-type: none;
    color: var(--color-yellow);

}

header .burger svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: var(--color-yellow);
    display: none;
}

header nav ul li a{
    color: var(--color-yellow);
    text-decoration: none;
}

header nav ul li:first-child a{
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 10px;
}

header nav ul li:first-child img{
    height: 20px;
    width: 20px;
}

header nav ul li:last-child svg{
    height: 10px;
    width: 10px;
    color: var(--color-yellow);
}

section.offset{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #222e50c5;
    z-index: 1000;
}

section.offset nav{
    display: grid;
    grid-template-rows: 30px 1fr;
    padding: 20px;
}

section.offset nav svg{
    color: var(--color-yellow);
    height: 20px;
    width: 20px;
    justify-self: end;
    cursor: pointer;
}


section.offset nav ul{
    padding-top: 60px;
    padding-top: 60px;
    display: grid;
    justify-items: center;
    list-style-type: none;
    row-gap: 20px;
}

section.offset nav ul a{
    color: var(--color-yellow);
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 20px;
}

main section.worldAnimal{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-image: linear-gradient(
        to right,
      rgb(0 0 0 / 50%),
      rgb(0 0 0 / 20%)
    ),
    url(../images/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main section.worldAnimal .left{
    font-family: "Montserrat";
    font-size: 60px;
    padding: 2vw;
    color: var(--color-yellow);
}

main section.worldAnimal .right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding: 2vw;
    padding-right: 2vw;
}

main section.short{
    display: grid;
    background-color: var(--color-blue);
    padding: 2vw 53px;
    row-gap: 20px;
}

main section.short span{
    font-family: "Montserrat";
    color: var(--color-yellow);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

main section.short p{
    font-family: "Montserrat";
    font-size: 20px;
    color: var(--color-yellow);
    text-align: center;
}

main section.houseSauvages{
    display: grid;
    padding: 2vw;
    background-color: var(--color-dark);
    row-gap: 20px;
}

main section.houseSauvages>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 20px;
}

main section.houseSauvages div>div.left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

main section.houseSauvages div>div.left img{
    width: 70%;
    height: 90%;
    margin: 0 auto;
}

main section.houseSauvages div>div.right{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 0 auto;
}

main section.houseSauvages div>div.right img{
    width: 70%;
    height: 88%;
    margin: 0 auto;
}

main section.houseSauvages div>div.right p{
    color: var(--color-yellow);
    font-family: "Montserrat";
    text-align: center;
}

main section.houseSauvages div>div.left p{
    color: var(--color-yellow);
    font-family: "Montserrat";
    text-align: center;
}

main section.houseSauvages h2{
    text-align: center;
    font-family: "Montserrat";
    font-size: 24px;
    color: var(--color-yellow);
}

main section.houseSauvages div>div.right span{
    font-family: "Montserrat";
    text-align: center;
    font-size: 16px;
    color: var(--color-yellow);
}

main section.houseSauvages .left>span{
    font-family: "Montserrat";
    text-align: center;
    color: var(--color-yellow);
}

footer{
    padding: 2vw;
    display: flex;
    justify-self: center;
    align-items: center;
    column-gap: 50px;
    background-color: var(--color-blue);
}

footer .left{
    display: grid;
    row-gap: 20px;
}

footer ul{
    display: flex;
    column-gap: 40px;
    list-style-type: none;
}

footer .left>ul li a svg{
    color: var(--color-yellow);
    width: 24px;
    height: 24px;
}

footer .left span{
    font-family: "Montserrat";
    color: var(--color-yellow);
}

footer .center{
    display: flex;
    margin: 0 auto;
}

footer .center svg{
    color: var(--color-yellow);
    height: 24px;
    width: 24px;
}

footer .center span{
    font-family: "Montserrat";
    color: var(--color-yellow);
}

footer .end{
    display: grid;
    row-gap: 32px;
}

footer .end span{
    font-family: "Montserrat";
    color: var(--color-yellow);
}
footer .end p{
    font-family: "Montserrat";
    color: var(--color-yellow);
}

@media screen and (max-width: 390px){
    header nav ul li{
        display: none;
    }
    header nav ul li:nth-child(1){
        display: block;
    }
    header .burger{
        display: flex;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
        column-gap: 20px;
    }

    header .burger svg{
        display: block;
    }

    section.offset nav ul li:first-child(){
        column-gap: 10px;
    }

    main section.worldAnimal{
        grid-template-columns: 1fr;
    }

    main section.worldAnimal .left{
        font-size: 24px;
    }

    main section.worldAnimal .right{
        padding: 2vw;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        margin: 0 auto;
    }

    main section.worldAnimal .right img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main section.short p{
        font-size: 16px;
    }

    main section.houseSauvages div{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    footer{
        flex-direction: column;
        row-gap: 20px;
    }

    footer div{
        margin: 0 auto;
        text-align: center;
    }



}
